body {
	font-family: "Open Sans"
}

a:hover {
	text-decoration: none;
}

#haut{
	margin-top: 15px
}

#col1 {
	text-align: center;
}

#col2 {
	text-align: center;
}

.ip {
	font-weight: bold;
}

.bas {
	margin-bottom: 40px;
}

.infos 	{
	background-color: #0275D8;
	color: #FFF;
	display: block;
	font-weight: bold;
	padding: 15px 20px;
	text-align: center;
}

.infos:hover {
	background-color: #0269c2;
	color: #FFF;
	text-decoration: none;
}

.infos:active {
	background-color: #004c8e;
	color: #FFF;
	text-decoration: none;
}

.noscript {
	background-color: #c70000;
	color: #FFF;
	display: block;
	font-family: sans-serif;
	font-weight: bold;
	padding: 15px 20px;
	text-align: center;
}